:root {
  --grey: #212121;
  --blue: #0a3d62;
  --white: #e8e8e8;
  --indigo: #1a237e;
  --yellow: #f57f17;
  --green: #1b5e20;
  --red: #b71c1c;
  --purple: #4a148c;
  --orange: #e65100;
  --light-blue: #2fdaed

  --white-grey: #e1e1e1;

  --bg-color: #3c6382;
  --bg-btn-color: #263238;
  --bg-card-header: #0d48a15b;
}

* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

html,
body {
  background: var(--bg-color);
}
.card-content {
  min-height: 235px;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey {
  background-color: var(--grey);
}
.blue {
  background-color: var(--blue);
}
.indigo {
  background-color: var(--indigo);
}
.blue-grey {
  background-color: var(--bg-btn-color);
}
.yellow {
  background-color: var(--yellow);
}
.green {
  background-color: var(--green);
}
.red {
  background-color: var(--red);
}
.purple {
  background-color: var(--purple);
}
.orange {
  background-color: var(--orange);
}

.tabs.is-toggle a {
  background-color: var(--bg-btn-color);
  color: var(--white);
  border: none;
  margin: 1px;
}

.tabs.is-toggle li.is-active a {
  background-color: var(--blue);
}

.tabs.is-toggle a:hover {
  background-color: var(--bg-btn-color);
  border: none;
  z-index: 2;
}

.card-header {
  color: var(--white);
  background-color: var(--bg-card-header);
}
.card-header-title {
  color: var(--white);
}

.card-content .content h4 {
  color: var(--white);
}

.card-footer {
  background-color: var(--blue);
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-footer .card-footer-item {
  color: var(--white);
  background-color: #0e4166;
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  flex-grow: 1;
  width: 20%; /* 100 / (n + 1) */
  margin: 5px;
  text-align: center;
}

.card-footer-item:hover {
  background: #192e4e;
}

.column-hidden {
  display: none;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
  height: 100%;
}

.button {
  color: var(--white);
  border: none;
}

.button:hover {
  color: var(--white);
  border: none;
}

a span {
  pointer-events: none;
}

.is-size-two {
  font-size: 2.5rem;
}

.content > .obs {
  color: var(--white-grey);
  font-size: smaller;
  font-style: oblique;
}

@media (hover: none) and (pointer: coarse) {
  .container {
    font-size: xxx-large;
  }
  .card-content {
    min-height: 300px;
  }
  .is-size-two {
    font-size: 6.5rem;
  }
  .navbar-brand,
  .navbar-tabs {
    min-height: 8.25rem;
  }
  .navbar-item img {
    max-height: 3.5rem;
  }
  .card-footer {
    height: 100px;
  }
  .tabs.is-toggle a {
    height: 100px;
    font-size: xx-large;
  }
}
