<!DOCTYPE html>
<head>
  <title>{{dashboard}}</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link rel="stylesheet" href="style.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
    type="text/javascript"
  ></script>

  <script src="main.js" type="text/javascript" defer></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper blue darken-4">
      <a href="#" class="brand-logo">
        <span>&NonBreakingSpace;</span>
       
        <span>&NonBreakingSpace;</span>
        {{dashboard}}
      </a>
      <a href="#" class="brand-logo center"> <img style="max-height: 35px" src="{{logo}}"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://smarthub.iot.lan:3000">Grafana</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {{#devices}}
      <div class="col m3">
        <div class="card grey darken-4 mqtt-topic" id="{{{ topic }}}"  {{#actions}}{{#color}}data-{{message}}="{{color}}"{{/color}}{{/actions}}>
          <div class="card-content white-text center-align">
            <span class="card-title">{{ title }}</span>
            <i class="medium material-icons">{{ icon }}</i>
            <h4><span class="mqtt-payload">_</span>{{#unit}}<span>{{unit}}</span>{{/unit}}</h4>
          </div>
          <div class="card-action center-align">
            {{#actions}}
              {{#actionTopic}}
              {{#message}}
              <a
                class="waves-effect waves-light blue darken-4 btn {{#obs}}tooltipped{{/obs}}"
                {{#obs}} data-position="top" data-tooltip="{{obs}}"{{/obs}}
                onclick="sendMessage('{{{actionTopic}}}','{{{message}}}')"
              >
                {{ message }}  
              </a>
              {{/message}}
              {{/actionTopic}}
            {{/actions}}
          </div>
        </div>
      </div>
      {{/devices}}
    </div>
  </div>
</body>
